<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">Pixel is an NGO founded by scientists with a strong analytical background and extensive experience in environmental research. Our mission is to tackle pressing environmental issues using advanced quantitative tools, remote sensing, and artificial intelligence, generating quantitative data to enrich the public discussion.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-satellite fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Remote sensing</h4>
                    <p class="text-muted" style="text-align: justify;">We specialize in remote sensing data, including optical imagery, Synthetic Aperture Radar (SAR), and LIDAR. Our team has extensive expertise using these datasets to address critical environmental challenges.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science & AI</h4>
                    <p class="text-muted">We apply advanced data science methods and state-of-the-art AI techniques to analyze large and complex environmental datasets.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>