 <!-- Team Modals -->
 {% for member in site.people %}
    <div class="portfolio-modal modal fade" id="teamModal{{ member.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ member.name }}</h2>
                            <h3>{{ member.position}}</h3>
                            <hr class="star-primary">
                            <img src="/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="image-alt">
                            <p style="text-align: justify;">{{ member.description }}</p>
                            {% if member.publications and member.publications != "" and member.publications.size > 0 %}
                                <h4>Featured Publications</h4>
                                    <ol>
                                        {% for pub in member.publications %}
                                            <li>
                                                <strong>{{ pub.title }}</strong><br>
                                                {{ pub.authors }}<br>
                                                <em>{{ pub.journal }}</em>, {{ pub.year }}<br>
                                                <a href="{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
                                            </li>
                                            <hr class="star-secondary">
                                        {% endfor %}
                                    </ol>
                            {% endif %}
                            <ul class="list-inline social-buttons">
                                {%if member.webpage and member.webpage != "" %}
                                <li>
                                    <a href="{{ member.webpage }}" target="_blank">
                                        <i class="fa-solid fa-globe"></i>
                                    </a>
                                </li>
                            {% endif %}
                                {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}" target="_blank">
                                            <i class="fa-brands fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                                {%if member.contact and member.contact != "" %}
                                    <li>
                                        <a href="{{ member.contact }}" target="_blank">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
