<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      padding: 100px;
    }
  </style>
</head>
<body>
  <h1>Thanks for reaching out!</h1>
  <p>We'll get back to you as soon as possible.</p>
    <div class="text-center">
        <a href="/projects/" class="page-direct btn btn-xl">See all</a>
    </div>
</body>
</html>
