<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qué hacemos</h2>
                    <h3 class="section-subheading text-muted">Pixel es una ONG fundada por científicos con una sólida formación analítica y amplia experiencia en investigación ambiental. Nuestra misión es abordar problemas ambientales urgentes mediante herramientas cuantitativas avanzadas, teledetección e inteligencia artificial, generando datos cuantitativos que enriquecen el debate público.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-satellite fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Remote sensing</h4>
                    <p class="text-muted" style="text-align: justify;">Nos especializamos en datos de teledetección, incluyendo imágenes ópticas, radar de apertura sintética (SAR) y LIDAR. Nuestro equipo cuenta con una amplia experiencia en el uso de estos conjuntos de datos para abordar desafíos ambientales críticos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science & AI</h4>
                    <p class="text-muted" style="text-align: justify;">Aplicamos métodos avanzados de ciencia de datos y técnicas de IA de última generación para analizar conjuntos de datos ambientales grandes y complejos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Educación</h4>
                    <p class="text-muted" style="text-align: justify;">Creemos que el conocimiento es más poderoso cuando se comparte. Nuestro equipo desarrolla recursos educativos claros y atractivos, así como programas de divulgación pública, para que conceptos ambientales y científicos complejos sean accesibles para todos.</p>
                </div>
            </div>
        </div>
    </section>