<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include {{ page.lang }}/header.html %}
    {% include {{ page.lang }}/services.html %}
    {% include {{ page.lang }}/portfolio.html %}
    {% include {{ page.lang }}/team.html %}
    {% include {{ page.lang }}/contact.html %}
    {% include {{ page.lang }}/footer.html %}
    {% include {{ page.lang }}/modals.html %}
    {% include {{ page.lang }}/team_modals.html%}
    {% include {{ page.lang }}/js.html %}

    </body>
</html>