<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% if page.lang == "en" %}
      {% include header_portfolio.html %}
      {% include portfolio_grid.html %}
      {% include appearances_grid.html %}
      {% include publications_grid.html %}
      {% include contact.html %}
      {% include footer.html %}
      {% include modals.html %}
      {% include appearances_modals.html %}
      {% include publications_modals.html %}
      {% include js.html %}
    {% else %}
      {% include es/header_portfolio.html %}
      {% include es/portfolio_grid.html %}
      {% include es/appearances_grid.html %}
      {% include es/publications_grid.html %}
      {% include es/contact.html %}
      {% include es/footer.html %}
      {% include es/modals.html %}
      {% include es/appearances_modals.html %}
      {% include es/publications_modals.html %}
      {% include es/js.html %}
    {% endif %}

    </body>
</html>