<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% if page.lang == "en" %}
      {% include header_team.html %}
      {% include team_full.html %}
      {% include team_collaborators.html %}
      {% include contact.html %}
      {% include footer.html %}
      {% include team_modals.html %}
      {% include js.html %}
    {% else %}
      {% include es/header_team.html %}
      {% include es/team_full.html %}
      {% include es/team_collaborators.html %}
      {% include es/contact.html %}
      {% include es/footer.html %}
      {% include es/team_modals.html %}
      {% include es/js.html %}
    {% endif %}

    </body>
</html>